.example_a {
    color: #fff !important;
    text-decoration: none;
    background: #5badf0;
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 2px;
    width: 500px;
    max-width: 500px;
    text-overflow: ellipsis; 
    overflow: hidden;
    }
    .example_a:hover {
        background: #7232f2;
        letter-spacing: 0.2px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }